* {
    padding: 0%;
    margin: 0%;
    
}


header {
    background-color: #e52521;
    padding: 1rem;
}

body {
    background-color: #7f7f7f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    font-family: 'Pretendo', cursive;
}

.cart-image {
    width: 100%;
    height: 100%;
}

.image-div {
    border: black solid 2px;
    margin: auto;
    display: flex;
    width: auto;
    height: 10vh;
}

.card-text-div {
    padding: 10px;
    font-size: 80%;
    margin: auto;
}

#report-default {
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
}

.sidebar {
    background-color: rgb(214, 214, 214);
    margin-top: 1rem;
    padding: 5px;
    border: black solid 2px;
    text-align: center;
    width: 170px;
}

.input-box {
    width: 90%;
}
#title {
    font-family: 'Super Mario 256', cursive;
    border-color: white;
    border-width: 3px;
    font-size: 5rem;
    text-align: center; 
    padding: 20px 0 0 0;
    color: white;
    border: 5px solid white;
    border-radius: 60px;
}


nav {
   display: flex;
   justify-content: space-evenly;
   background-color: #43B047;
   font-size: 2rem;
}

.window {
    display: grid;
    grid-template-columns: 14% 55%;
    justify-content: center;
}

.report-card {
    padding: 0.4rem;
    margin: 0.4rem;
    background-color: #f8f8f8c9;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
    height:10vh;
    
}

.report-window {
    display: grid;
    grid-template-columns: auto auto auto;
    height:fit-content;
}

@font-face {
    font-family: 'Super Mario 256';
    src: url(SuperMario256.ttf);
}

@font-face {
    font-family: 'Pretendo';
    src: url(Pretendo.ttf);
}